[Desktop Entry]
Name=Health
Comment=NITROX TOOL
Exec=/home/pi/Gas-Blending/HEALTH.py
Icon=/home/pi/Gas-Blending/divetools.png
Terminal=true
Type=Application
