[Desktop Entry]
Name=Tri-Mix Stick
Comment=NITROX TOOL
Exec=/home/pi/Gas-Blending/TRI-MIX.STICK.py
Icon=/home/pi/Gas-Blending/divetools.png
Terminal=false
Type=Application
