[Desktop Entry]
Name=Update
Comment=Update TOOL
Exec=/home/pi/Gas-Blending/UPDATE.sh
Icon=/home/pi/Gas-Blending/divetools.png
Terminal=false
Type=Application
